
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}
@model System.Data.DataSet
<div id="div1" class="container mt-lg-5 mt-5">
    <div class="row  justify-content-center  ">

        <div class="col-sm-6 col-lg-6 col-8 ">


            @using (Html.BeginForm("Submit", "RequestLeave", FormMethod.Post, new { id = "form1", onsubmit = "return OnSubmit()" }))
            {
                <div class="card ">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="IsHalfDay" class="custom-control-input" value="0" checked>
                                    <label class="custom-control-label text-white" for="customRadio1">Full day</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="IsHalfDay" class="custom-control-input" value="1">
                                    <label class="custom-control-label text-white" for="customRadio2">Half Day</label>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class=" card-body ">

                        <label style="font-size:22px" id="date" for="">Date Of Application: @System.DateTime.Now.Date.ToString("dd-MM-yyyy")</label>
                        <br><br>

                        <div class="form-group d-flex justify-content-center ">
                            <select class="form-control" name="LeaveType" id="LeaveType" required>
                                <option selected disabled> Select Leave Type</option>
                                @{
                                    foreach (System.Data.DataRow x in Model.Tables[0].Rows)
                                    {
                                        <option value="@x[0].ToString()">@x[1].ToString()</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group d-flex justify-content-center" id="d1">
                            <label class="label-control" id="l1">Date & time</label>
                            <input type="text" class="form-control datetimepicker1" id="halfday" name="halfday" required />
                        </div>

                        <div class="form-group d-flex justify-content-center">

                            <label for="date1" id="l2">From</label>
                            <input class="form-control datetimepicker" type="text" name="FromDate" id="FromDate" required onfocusout="DateSelect(this)">
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <label for="date2" id="l3">To</label>
                            <input class="form-control datetimepicker" type="text" name="ToDate" id="ToDate" required onfocusout="DateSelect(this)">
                        </div>
                        <div class=" form-group d-flex justify-content-center">
                            <label for="days">Total Days</label>
                            <input class="form-control" type="text" name="days" id="days" readonly>

                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <select class="form-control" name="LeaveReason" id="LeaveReason">
                                <option selected disabled>Reason For Leave</option>
                                @{ System.Data.DataSet i = ViewBag.Reasons;
                                    foreach (System.Data.DataRow x in i.Tables[0].Rows)
                                    {
                                        <option value="@x[0].ToString()">@x[1].ToString()</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <textarea class="form-control" style="resize:none" name="LeaveRemarks" id="LeaveRemarks" cols="30" rows="5" placeholder="Enter Description if any."></textarea>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center card-footer">

                        <input id="Submit1" class="btn btn-round btn-info-grd col-lg-10" type="submit" value="submit" />



                    </div>

                </div>
            }





        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $('#halfday').prop("disabled", true)
        $('#l1').prop("disabled", true)
        $('#halfday').focusout(function () {
            $('#days').val(0.5);

        });
          $('#customRadio1').click(function () {
        $('#FromDate').prop("disabled", false);
        $('#FromDate').val("");
        $('#ToDate').prop("disabled", false);
        $('#ToDate').val("");
        $('#halfday').prop("disabled", true);
        $('#halfday').val("");
        $('#days').val("");



    });
    $('#customRadio2').click(function () {

        $('#FromDate').prop("disabled", true);
        $('#FromDate').val("");
        $('#ToDate').prop("disabled", true);
        $('#ToDate').val("");
        $('#halfday').prop("disabled", false);
        $('#halfday').val("");
        $('#days').val("");

    });

    $('.datetimepicker').datetimepicker({
        format: 'L',

        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove',

        }

    });
    $('.datetimepicker1').datetimepicker({
        format: 'L LT',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove',

        }

    });
    function OnSubmit() {
        if ($('#LeaveType').val() == null || $('#halfday').val() == null || $('#FromDate').val() == null || $('#ToDate').val() == null|| $('#LeaveReason').val() == null) {
            alert("Kindly Fill all the fields");
            return false;
        }
    }
    });
    var Date1 = null;
    var Date2 = null;
    function DateSelect(date) {

        var LeaveDetails = { FromDate: "", ToDate: "" };

        if (date.name == "FromDate") {
            Date1 = date.value;
            LeaveDetails.FromDate = Date1;
            LeaveDetails.ToDate = Date2;

        }
        else {
            Date2 = date.value;
            LeaveDetails.FromDate = Date1;
            LeaveDetails.ToDate = Date2;
        }


        if ((Date1 != null && Date1 != "") && (Date2 != null && Date2 != "")) {

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = fun;
            function fun() {
                if (this.readyState == 4 && this.status == 200) {

                    var x = JSON.parse(this.responseText);

                    document.getElementById("days").value = x;

                }
            };
            xmlhttp.open("POST", "/ApplyForLeave/Calculateadays", true);
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(JSON.stringify(LeaveDetails));
        }


    }

</script>
