@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}
@model System.Data.DataSet

<div class="modal fade " id="deleteedu" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure to delete this item?</h3>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button data-dismiss="modal" class="btn btn-link">Cancel</button>
                    @using (Html.BeginForm("DeleteEducation", "Profile", FormMethod.Post))
                    {
                        <button id="EduID" name="EduID" type="submit" class="btn btn-info-grd">Yes</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editedu">
    <div class="modal-dialog">
        @using (Html.BeginForm("UpdateEducation", "Profile", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Education</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="DegreeID" class="d-block">Select Degree</label>
                            <select class="custom-select" id="editdegreeid" name="DegreeID" required>
                                <option value="" disabled selected>Select Department</option>
                                @{System.Data.DataSet x = ViewBag.List;
                                    foreach (System.Data.DataRow i in x.Tables[0].Rows)
                                    {
                                        <option value=@i[0].ToString()>
                                            @i[1].ToString()
                                        </option>

                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="DegreeTittle" class="text-center">DegreeTittle</label>
                            <input type="text" id="EduID1" name="EduID" class="form-control" hidden />
                            <input type="text" id="editdegtittle" name="DegreeTittle" class="form-control " required />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="Field" class="text-center">Field</label>
                            <input type="text" id="editfield" name="Field" class="form-control " required />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="Institute" class="text-center">Institute</label>
                            <input type="text" id="editinstitute" name="Institute" class="form-control " required />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="Year" class="text-center">Year</label>
                            <div class="input-group">
                                <input type="text" id="edityear" name="Year" class="form-control datetimepicker" required onfocusout="DateSelect(this)" />
                                <div class="input-group-append">
                                    <span style="margin-left:-20px"><img id="i1" src="~/Images/calendar-clipart-w4.png" width="25" /></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="addedu">
    <div class="modal-dialog">
        @using (Html.BeginForm("AddEducation", "Profile", FormMethod.Post, new { autocomplete = "off" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Education</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="DegreeID" class="d-block">Select Degree</label>
                            <select class="custom-select" name="DegreeID" required>
                                <option value="" disabled selected>Select Department</option>
                                @{System.Data.DataSet x = ViewBag.List;
                                    foreach (System.Data.DataRow i in x.Tables[0].Rows)
                                    {
                                        <option value=@i[0].ToString()>
                                            @i[1].ToString()
                                        </option>

                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="DegreeTittle" class="text-center bmd-label-floating">DegreeTittle</label>
                            <input type="text" name="DegreeTittle" class="form-control " required />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="Field" class="text-center bmd-label-floating">Field</label>
                            <input type="text" name="Field" class="form-control " required />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="Institute" class="text-center bmd-label-floating">Institute</label>
                            <input type="text" name="Institute" class="form-control " required />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-group col-8 bmd-form-group">
                            <label for="Year" class="text-center">Year</label>
                            <div class="input-group">
                                <input type="text" id="edityear" name="Year" class="form-control datetimepicker " onfocusout="DateSelect(this)" required />
                                <div class="input-group-append">
                                    <span style="margin-left:-20px"><img id="i1" src="~/Images/calendar-clipart-w4.png" width="25" /></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="row  mt-5">
        <div class="col-12">
            <div class="card-header card-header-info ">
                <div class="row">
                    <div class="col">
                        <h4>Education</h4>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <a href="#" data-toggle="modal" data-target="#addedu"><img class="mt-3" src="~/Images/icons/iconfinder_add_126583.png" width="20" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @foreach (System.Data.DataRow i in Model.Tables[0].Rows)
    {
        <div class="row ">
            <div class="col">
                <div class="card ">
                    <div class="card-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th class="text-info" scope="row">Degree</th>
                                    <td>@i[1]</td>
                                    <td>

                                        <a class="dropdown-toggle" data-toggle="dropdown"></a>

                                        <div class="dropdown-menu">

                                            <a class="edt dropdown-item" data-id="@i[0]" data-toggle="modal" data-target="#editedu">Edit</a>
                                            <a class="del dropdown-item" data-toggle="modal" data-id="@i[0]" data-target="#deleteedu">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-info" scope="row">DegreeTittle</th>
                                    <td>@i[2]</td>
                                </tr>
                                <tr>
                                    <th class="text-info" scope="row">Field</th>
                                    <td>@i[3]</td>
                                </tr>
                                <tr>
                                    <th class="text-info" scope="row">Institute</th>
                                    <td>@i[4]</td>
                                </tr>
                                <tr>
                                    <th class="text-info" scope="row">Year</th>
                                    <td>@i[5]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('.datetimepicker').datetimepicker({
            format: 'YYYY',

            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',

            }

        });

        $('.del').on("click", function () {
            var dataid = $(this).data("id")

            document.getElementById('EduID').value = dataid;

        })

        $('.edt').on("click", function () {
            var dataid = $(this).data("id")

            $.ajax({
                url: "/Profile/getedu?EduID=" + dataid,
                type: "get",

                success: function (data) {
                    var jsondata = JSON.parse(data);
                    $('#EduID1').val(jsondata.Table[0].ID);
                    $('#editdegreeid').val(jsondata.Table[0].ID1);
                    $('#editdegtittle').val(jsondata.Table[0].DegreeTittle);
                    $('#editfield').val(jsondata.Table[0].Field);
                    $('#edityear').val(jsondata.Table[0].Year);
                    $('#editinstitute').val(jsondata.Table[0].Institute);

                    console.log(jsondata.Table[0]);

                }

            })

        })
    });
</script>