
@model System.Data.DataSet
<script>
    function fun(a) {
        console.log(a.rowIndex);
        console.log(a.cells[0].innerHTML);
    }
    function View(row) {
        var Application_Id = document.getElementById('t1').rows[row.rowIndex].cells[0].innerHTML;
        console.log(Application_Id);
        window.location.href = "/ViewApplications/DetiledView?Application_Id=" + Application_Id;

    }
/**/</script>
<div class="container-fluid" id="a1">
    <div class="row ">
        <div class="col ">
            <div class="card h-100">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="t1" class="table table-hover  table-light">
                            <thead>
                                <tr onclick="fun(this)">
                                    <th class="align-middle  text-center" hidden scope="col">Application ID</th>
                                    @{
                                        if (ViewBag.Manager == true)
                                        {
                                            <th class="align-middle  text-center" scope="col">Name</th>
                                        }
                                    }
                                    <th class="align-middle  text-center" scope="col">Date</th>
                                    <th class="align-middle  text-center" scope="col">Application Type</th>
                                    <th class="align-middle  text-center" scope="col">Leave Type</th>
                                    <th class="align-middle  text-center" scope="col">From Date</th>
                                    <th class="align-middle  text-center" scope="col">To Date</th>
                                    <th class="align-middle  text-center" scope="col">Total Days</th>
                                    <th class="align-middle  text-center" scope="col">Reason for leave</th>
                                    <th class="align-middle  text-center" scope="col">Application Status</th>
                                    <th class="align-middle  text-center" scope="col">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    bool check = false;
                                    System.Data.DataSet temp = Model;
                                    foreach (System.Data.DataRow x in temp.Tables[0].Rows)

                                    {

                                        <tr>



                                            <td hidden class="align-middle  text-center">@LeaveApplication.Models.Encryption.Base64Encode(x[0].ToString())</td>
                                            @{
                                                if (ViewBag.Manager == true)
                                                {
                                                    <td class="align-middle  text-center">@x[9].ToString()</td>
                                                }
                                            }
                                            <td class="align-middle  text-center">@DateTime.Parse(x[2].ToString()).ToString("dd-MM-yyyy")</td>
                                            @if (bool.Parse(x[8].ToString()) == false)
                                            {
                                                <td class="align-middle  text-center">Application</td>
                                            }
                                            else
                                            {
                                                <td class="align-middle  text-center">Request</td>
                                            }
                                            <td class="align-middle  text-center">@x[1].ToString()</td>
                                            @if (double.Parse(x[5].ToString()) == 0.5)
                                            {//render date and time when half day else render date only
                                                <td class="align-middle  text-center">@DateTime.Parse(x[3].ToString()).ToString("dd/MM/yyyy HH: mm tt")</td>
                                                <td class="align-middle  text-center">@DateTime.Parse(x[4].ToString()).ToString("dd/MM/yyyy HH: mm tt")</td>
                                            }
                                            else
                                            {
                                                <td class="align-middle  text-center">@DateTime.Parse(x[3].ToString()).ToString("dd-MM-yyyy")</td>
                                                <td class="align-middle  text-center">@DateTime.Parse(x[4].ToString()).ToString("dd-MM-yyyy")</td>
                                            }
                                            <td class="align-middle  text-center">@x[5].ToString()</td>
                                            <td class="align-middle  text-center">@x[6].ToString()</td>
                                            <td class="align-middle text-center">
                                                <span class="badge badge-success" style="font-size:15px">Approved</span>
                                            </td>

                                            <td class="align-middle text-center">
                                                <button type="button" class="btn btn-secondary btn-info-grd" onclick="View(this.parentNode.parentNode)">View</button>
                                            </td>

                                        </tr>
                                        check = true;
                                    }

                                }




                            </tbody>
                        </table>
                    </div>

                </div>
                @{
                    if (check == false)
                    {
                        <h1 class="text-center align-middle">Records Not Found</h1>
                    }
                    else
                    {
                        <div class="card-footer justify-content-end">

                            <ul id="paged" class="pagination pagination-info ">
                                @{

                                    <li class="page-item ">
                                        @{
                                            if (ViewContext.RouteData.Values["action"].ToString() == "Approved")
                                            {
                                                @Ajax.ActionLink("First", "Approved", new { PageNo = 1 }, new AjaxOptions
{
HttpMethod = "GET",
UpdateTargetId = "div1",
InsertionMode = InsertionMode.Replace
}, new { @class = "page-link" })
                                            }
                                            else
                                            {
                                                @Ajax.ActionLink("First", "FacultyApproved", new { PageNo = 1 }, new AjaxOptions
{
HttpMethod = "GET",
UpdateTargetId = "div1",
InsertionMode = InsertionMode.Replace
}, new { @class = "page-link" })
                                            }
                                        }

                                    </li>
                                    <li class="page-item ">
                                        @{
                                            if (ViewContext.RouteData.Values["action"].ToString() == "Approved")
                                            {
                                                @Ajax.ActionLink("Previous", "Approved", null, new AjaxOptions
{
HttpMethod = "GET",
UpdateTargetId = "div1",
InsertionMode = InsertionMode.Replace
}, new { @class = "page-link", id = "pre", onclick = "Pre('/ViewApplications/Approved?PageNo=')" })
                                            }
                                            else
                                            {
                                                @Ajax.ActionLink("Previous", "FacultyApproved", null, new AjaxOptions
{
HttpMethod = "GET",
UpdateTargetId = "div1",
InsertionMode = InsertionMode.Replace
}, new { @class = "page-link", id = "pre", onclick = "Pre('/ViewApplications/FacultyApproved?PageNo=')" })
                                            }
                                        }

                                    </li>

                                    int ax = ViewBag.PageNo;
                                    if (ViewBag.TotalPages <= 3)
                                    {
                                        ax = 1;
                                    }
                                    else if (ViewBag.TotalPages - ViewBag.PageNo == 1)
                                    {
                                        ax -= 1;
                                    }
                                    else if (ViewBag.TotalPages - ViewBag.PageNo == 0)
                                    {
                                        ax -= 2;
                                    }
                                    int count = 0;
                                    for (int i = ax; i <= ViewBag.TotalPages; i++)
                                    {
                                        if (i == ViewBag.PageNo)
                                        {
                                            <li class="page-item active">
                                                @{
                                                    if (ViewContext.RouteData.Values["action"].ToString() == "Approved")
                                                    {
                                                        @Ajax.ActionLink(i.ToString(), "Approved", new { PageNo = i }, new AjaxOptions
                                         {
                                             HttpMethod = "GET",
                                             UpdateTargetId = "div1",
                                             InsertionMode = InsertionMode.Replace
                                         }, new { @class = "page-link" })
                                                    }
                                                    else
                                                    {
                                                        @Ajax.ActionLink(i.ToString(), "FacultyApproved", new { PageNo = i }, new AjaxOptions
                                                                                   {
                                                                                       HttpMethod = "GET",
                                                                                       UpdateTargetId = "div1",
                                                                                       InsertionMode = InsertionMode.Replace
                                                                                   }, new { @class = "page-link" })
                                                    }
                                                }

                                            </li>

                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                @{
                                                    if (ViewContext.RouteData.Values["action"].ToString() == "Approved")
                                                    {
                                                        @Ajax.ActionLink(i.ToString(), "Approved", new { PageNo = i }, new AjaxOptions
                                                                {
                                                                    HttpMethod = "GET",
                                                                    UpdateTargetId = "div1",
                                                                    InsertionMode = InsertionMode.Replace
                                                                }, new { @class = "page-link" })
                                                    }
                                                    else
                                                    {
                                                        @Ajax.ActionLink(i.ToString(), "FacultyApproved", new { PageNo = i }, new AjaxOptions
                                                              {
                                                                  HttpMethod = "GET",
                                                                  UpdateTargetId = "div1",
                                                                  InsertionMode = InsertionMode.Replace
                                                              }, new { @class = "page-link" })
                                                    }
                                                }

                                            </li>

                                        }
                                        ++count;
                                        if (count == 3)
                                        {
                                            break;
                                        }

                                    }
                                    <li class="page-item">
                                        @{
                                            if (ViewContext.RouteData.Values["action"].ToString() == "Approved")
                                            {
                                                @Ajax.ActionLink("Next", "Approved", null, new AjaxOptions
     {
     HttpMethod = "GET",
     UpdateTargetId = "div1",
     InsertionMode = InsertionMode.Replace
     }, new { @class = "page-link", id = "next", onclick = "Next('/ViewApplications/Approved?PageNo=')" })
                                            }
                                            else
                                            {
                                                @Ajax.ActionLink("Next", "FacultyApproved", null, new AjaxOptions
    {
    HttpMethod = "GET",
    UpdateTargetId = "div1",
    InsertionMode = InsertionMode.Replace
    }, new { @class = "page-link", id = "next", onclick = "Next('/ViewApplications/FacultyApproved?PageNo=')" })
                                            }
                                        }

                                    </li>
                                    <li class="page-item ">
                                        @{
                                            if (ViewContext.RouteData.Values["action"].ToString() == "Approved")
                                            {
                                                @Ajax.ActionLink("Last", "Approved", new { PageNo = @ViewBag.TotalPages }, new AjaxOptions
    {
    HttpMethod = "GET",
    UpdateTargetId = "div1",
    InsertionMode = InsertionMode.Replace
    }, new { @class = "page-link" })
                                            }
                                            else
                                            {
                                                @Ajax.ActionLink("Last", "FacultyApproved", new { PageNo = @ViewBag.TotalPages }, new AjaxOptions
    {
    HttpMethod = "GET",
    UpdateTargetId = "div1",
    InsertionMode = InsertionMode.Replace
    }, new { @class = "page-link" })
                                            }
                                        }

                                    </li>


                                }

                            </ul>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

