
@model System.Data.DataSet
@{
    ViewBag.Title = "LeaveCount";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}

@* Model *@
@if (ViewBag.LeaveCount != true)
{<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="bal1">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
}


@* ---------------------- *@

<div id="div1" class="container mt-5">

    <div class="row  justify-content-center align-content-center vh-100">
        <div class="col">

            <div class="card">
                <div class="header">

                    <h2 class="text-white card-header card-header-info text-center" style="font-family:g1">Leave count</h2>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-hover " id="t1">
                            <thead>
                                <tr>

                                    @{
                                        System.Data.DataSet d1 = Model;
                                        if (ViewBag.LeaveCount == true)
                                        {
                                            for (int i = 0; i < d1.Tables[0].Columns.Count; i++)
                                            {
                                                <th class="text-center text-info" scope="col">@d1.Tables[0].Columns[i].ColumnName</th>
                                            }
                                            <th class="text-center text-info" scope="col">Actions</th>
                                        }
                                        else
                                        {
                                            for (int i = 1; i < d1.Tables[0].Columns.Count; i++)
                                            {
                                                <th class="text-center text-info" scope="col">@d1.Tables[0].Columns[i].ColumnName</th>
                                            }
                                            <th class="text-center text-info" scope="col">Actions</th>
                                        }

                                    }

                                </tr>

                            </thead>
                            <tbody>

                                @{if (ViewBag.LeaveCount == true)
                                    {
                                        foreach (System.Data.DataRow x in d1.Tables[0].Rows)
                                        {
                                            <tr>

                                                @for (int i = 0; i < d1.Tables[0].Columns.Count; i++)
                                                {
                                                    if (string.IsNullOrEmpty(x[i].ToString()))
                                                    {
                                                        <td class="align-middle text-center">0</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle text-center">@x[i].ToString() </td>
                                                    }
                                                }
                                                <td class="align-middle text-center" width="20">
                                                    <div class="btn-group">
                                                        <button class="btn btn-info-grd " onclick="GetLeaveBalance()">View Balance</button>

                                                    </div>

                                                </td>
                                            </tr>



                                        }
                                    }
                                    else
                                    {

                                        foreach (System.Data.DataRow x in d1.Tables[0].Rows)
                                        {
                                            <tr>

                                                @for (int i = 1; i < d1.Tables[0].Columns.Count; i++)
                                                {
                                                    if (string.IsNullOrEmpty(x[i].ToString()))
                                                    {
                                                        <td class="align-middle text-center">0</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle text-center">@x[i].ToString() </td>
                                                    }
                                                    
                                                }
                                                <td class="align-middle text-center" width="20">
                                                    <div class="btn-group">
                                                        <button class="btn btn-info-grd " data-toggle="modal" data-target="#exampleModalCenter" onclick="GetBalance(@x[0].ToString(), this.parentNode.parentNode.parentNode)">View Balance</button>

                                                    </div>

                                                </td>
                                            </tr>



                                        }
                                    }

                                }





                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            @if (ViewBag.LeaveCount == true)
            {<div class="row" id="bal1">
                    @Html.Action("LeaveBalance", "ViewApplications");

                </div>
            }

        </div>


    </div>


</div>

