
@model System.Data.DataSet
<script>
    function fun(a) {
        console.log(a.rowIndex);
        console.log(a.cells[0].innerHTML);
    }
    function View(row) {
        var Application_Id = document.getElementById('t1').rows[row.rowIndex].cells[0].innerHTML;
        console.log(Application_Id);
        window.location.href = "/ViewApplications/DetiledView?Application_Id=" + Application_Id;

    }
/**/</script>
<div class="container-fluid" id="a1">
    <div class="row">
        <div class="col">
            <div class="card h-100">
                <div class="card-body ">
                    <div class="table-responsive">
                        <table id="t1" class="table table-hover table-responsive-sm table-light">
                            <thead>
                                <tr onclick="fun(this)">
                                    <th class="align-middle  text-center" hidden scope="col">Application ID</th>
                                    @{
                                        if (ViewBag.Manager == true)
                                        {
                                            <th class="align-middle  text-center" scope="col">Name</th>
                                        }
                                    }
                                    <th class="align-middle  text-center" scope="col">Date</th>
                                    <th class="align-middle  text-center" scope="col">Leave Type</th>
                                    <th class="align-middle  text-center" scope="col">From Date</th>
                                    <th class="align-middle  text-center" scope="col">To Date</th>
                                    <th class="align-middle  text-center" scope="col">Total Days</th>
                                    <th class="align-middle  text-center" scope="col">Reason for leave</th>
                                    <th class="align-middle  text-center" scope="col">Application Status</th>
                                    <th class="align-middle  text-center" scope="col">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                                bool check = false;
                                                System.Data.DataSet temp = Model;
                                                foreach (System.Data.DataRow x in temp.Tables[0].Rows)
                                                {

                                        <tr>

                                            <td hidden class="align-middle  text-center">@x[0].ToString()</td>
                                            @{
                                                if (ViewBag.Manager == true)
                                                {
                                                    <td class="align-middle  text-center">@x[8].ToString()</td>
                                                }
                                    }
                                            <td class="align-middle  text-center">@x[2].ToString()</td>
                                            <td class="align-middle  text-center">@x[1].ToString()</td>
                                            <td class="align-middle  text-center">@x[3].ToString()</td>
                                            <td class="align-middle  text-center">@x[4].ToString()</td>
                                            <td class="align-middle  text-center">@x[5].ToString()</td>
                                            <td class="align-middle  text-center">@x[6].ToString()</td>
                                            <td class="align-middle text-center">
                                                <span class="badge badge-danger" style="font-size:15px">Rejected</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <button type="button" class="btn btn-info-grd" onclick="View(this.parentNode.parentNode)">View Details</button>
                                            </td>

                                        </tr>
                                        check = true;
                                    }

                                }




                            </tbody>
                        </table>
                    </div>

                </div>
                @{
                    if (check == false)
                    {
                        <h1 class="text-center align-middle">Records Not Found</h1>
                    }
                    else
                    {<div class="card-footer justify-content-end">

    <ul id="paged" class="pagination pagination-info ">
        @{

            <li class="page-item ">
                @Ajax.ActionLink("First", "Rejected", new { PageNo = 1 }, new AjaxOptions
{
HttpMethod = "GET",
UpdateTargetId = "div1",
InsertionMode = InsertionMode.Replace
}, new { @class = "page-link" })
            </li>
            <li class="page-item ">
                @Ajax.ActionLink("Previous", "Rejected", null, new AjaxOptions
{
HttpMethod = "GET",
UpdateTargetId = "div1",
InsertionMode = InsertionMode.Replace
}, new { @class = "page-link", id = "pre", onclick = "Pre('/ViewApplications/Rejected?PageNo=')" })
            </li>

            int ax = ViewBag.PageNo;
            if (ViewBag.TotalPages <= 3)
            {
                ax = 1;
            }
            else if (ViewBag.TotalPages - ViewBag.PageNo == 1)
            {
                ax -= 1;
            }
            else if (ViewBag.TotalPages - ViewBag.PageNo == 0)
            {
                ax -= 2;
            }
            int count = 0;
            for (int i = ax; i <= ViewBag.TotalPages; i++)
            {
                if (i == ViewBag.PageNo)
                {
                    <li class="page-item active">
                        @Ajax.ActionLink(i.ToString(), "Rejected", new { PageNo = i }, new AjaxOptions
                   {
                       HttpMethod = "GET",
                       UpdateTargetId = "div1",
                       InsertionMode = InsertionMode.Replace
                   }, new { @class = "page-link" })
                    </li>

                }
                else
                {
                    <li class="page-item ">
                        @Ajax.ActionLink(i.ToString(), "Rejected", new { PageNo = i }, new AjaxOptions
{
 HttpMethod = "GET",
 UpdateTargetId = "div1",
 InsertionMode = InsertionMode.Replace
}, new { @class = "page-link" })
                    </li>

                }
                ++count;
                if (count == 3)
                {
                    break;
                }

            }
            <li class="page-item">
                @Ajax.ActionLink("Next", "Rejected", null, new AjaxOptions
{
HttpMethod = "GET",
UpdateTargetId = "div1",
InsertionMode = InsertionMode.Replace
}, new { @class = "page-link", id = "next", onclick = "Next('/ViewApplications/Rejected?PageNo=')" })
            </li>
            <li class="page-item ">
                @Ajax.ActionLink("Last", "Rejected", new { PageNo = @ViewBag.TotalPages }, new AjaxOptions
{
HttpMethod = "GET",
UpdateTargetId = "div1",
InsertionMode = InsertionMode.Replace
}, new { @class = "page-link" })
            </li>


        }

    </ul>
</div>

                    }
                }
            </div>
        </div>
    </div>
</div>