
@{
    ViewBag.Title = "ViewFullApplication";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}
@model LeaveApplication.Models.LeaveApplication
@* Model for Approve/ Reject*@
@Html.Partial("ApproveRejectModel");
@* -------------------------------- *@
<div class="container mt-5">
    <div class="row justify-content-center align-content-center ">
        <div class="col text-center">

            <div class="card">
                <div class="card-body">
                    <div class="header">
                        <h1 class="text-white card-header card-header-info " style="font-family:g1">View Application</h1>
                    </div>
                    <div class="row ">

                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <h3 class="text-center">Application</h3>

                            <table id="t1" class="table table-hover">

                                <tbody>
                                    <tr>
                                        <th class="text-info" scope="row">Date</th>
                                        <td class="align-middle  ">@Model.ApplyDate</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-info">Leave Type</th>
                                        <td class="align-middle ">@Model.LeaveType</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-info">From Date</th>
                                        <td class="align-middle  ">@Model.FromDate</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-info">To Date</th>
                                        <td class="align-middle  ">@Model.ToDate</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-info">Total Days</th>
                                        <td class="align-middle  ">@Model.TotalDays</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-info">Leave Reason</th>
                                        <td class="align-middle  ">@Model.LeaveReason</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-info">Application Status</th>
                                        <td class="align-middle  ">@Model.ApplicationStatus</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-info">Leave Remarks</th>
                                        <td class="align-middle  text-justify">@Model.LeaveRemarks</td>
                                    </tr>
                                    @if (!string.IsNullOrWhiteSpace(@Model.FileName))
                                    {
                                        <tr>
                                            <th scope="row" class="text-info" id="at1">Attachment</th>
                                            <td class="align-middle  text-justify"><a href="/ViewApplications/DownLoadFile?Fileid=@Model.FileId">@Model.FileName</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                            <h3>Status History</h3>
                            <table id="t1" class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th class="align-middle  text-center text-info" scope="col">Date</th>
                                        <th class="align-middle  text-center text-info" scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (LeaveApplication.Models.StatusHistory x in ViewBag.SH)
                                        {
                                            <tr>

                                                <td class="align-middle  text-center">@x.Date</td>
                                                <td class="align-middle  text-center">@x.Status</td>
                                            </tr>
                                            if (ViewBag.ShowAction == true)
                                            {
                                                <tr>
                                                    <td class="align-middle">
                                                        <button class="btn btn-info-grd" data-toggle="modal" data-target="#remark" onclick="Accept('@ViewBag.ApplicationId')">Accept</button>
                                                    </td>
                                                    <td class="align-middle">
                                                        <button class="btn btn-info-grd" data-toggle="modal" data-target="#remark" onclick="Reject('@ViewBag.ApplicationId')">Reject</button>
                                                    </td>

                                                </tr>
                                            }

                                        }
                                    }


                                </tbody>
                            </table>
                            @if(string.IsNullOrWhiteSpace(Model.ManagerRemarks))
                            {
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-center">Manager Remarks</h3>
                                        <p class="text-justify">
                                            T-Series presents the Full Video of Junooniyat Title Song from the film Junooniyat, with Pulkit Samrat and Yami Gautam, starring together once again after the super success of the film Sanam Re earlier this year. Junooniyat is directed by Vivek Agnihotri. Junooniyat Title Song is sung by Meet Bros Anjjan, featuring Falak Shabir. The music director is Meet Bros Anjjan themselves & lyrics are by Kumaar.

                                            SONG - JUNOONIYAT
                                            SINGER - MEET BROS ANJJAN,FEAT. FALAK SHABIR
                                            BACK VOCAL - THOMSON ANDREWS,KESHIA BRAGANZA,GWAN DIAS,RYAN DIAS
                                            MUSIC - MEET BROS ANJJAN
                                            LYRICS - KUMAAR
                                            Programmed By- John Stewart Eduri. Guitars- Pawan Rasaily. Music Assistant- Uddipan Sharma, Ambresh Shroff. Mixed And
                                            Mastered By- P A Deepak
                                            Song Recorded By- Gautam Chakrabortty And Uddipan Sharma @@Meet Bros Recording Studio. Production Managed By-Suraj Kumar, Ruchir Saxena
                                            MUSIC ON T-SERIES
                                        </p>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end card-footer">
                    <button class="btn btn-info-grd" onclick="window.history.back()">Go back</button>
                </div>
            </div>
        </div>
    </div>
    <br />



</div>
<script>
     function Accept(Application_Id) {

        $('#app_id').val(Application_Id);
        $('#ar1').attr('action', '/ViewApplications/AcceptApplication');


    }
    function Reject(Application_Id) {

        $('#app_id').val(Application_Id);
        $('#ar1').attr('action', '/ViewApplications/RejectApplication');


    }
    function CloseRemark() {
        $('#ar1').attr('action', '')
        $('#app_id').val(null);
    }
</script>
