
@{
    ViewBag.Title = "ViewFullApplication";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}
@model LeaveApplication.Models.LeaveApplication

    <div class="container " >
        <div class="row justify-content-center align-content-center vh-100">
            <div class="col text-center">
              
                <div class="card">
                    <div class="card-body">
                        <div class="header">
                            <h1 class="text-white card-header card-header-info " style="font-family:g1">Detailed View</h1>
                        </div>
                        <div class="row ">

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <h3 class="text-center">Application</h3>

                                <table id="t1" class="table table-hover">

                                    <tbody>
                                        <tr>
                                            <th class="text-info" scope="row">Date</th>
                                            <td class="align-middle  ">@Model.ApplyDate</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Leave Type</th>
                                            <td class="align-middle ">@Model.LeaveType</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">From Date</th>
                                            <td class="align-middle  ">@Model.FromDate</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">To Date</th>
                                            <td class="align-middle  ">@Model.ToDate</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Total Days</th>
                                            <td class="align-middle  ">@Model.TotalDays</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Leave Reason</th>
                                            <td class="align-middle  ">@Model.LeaveReason</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Application Status</th>
                                            <td class="align-middle  ">@Model.ApplicationStatus</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-info">Leave Remarks</th>
                                            <td class="align-middle  text-justify">@Model.LeaveRemarks</td>
                                        </tr>
                                        @if (!string.IsNullOrWhiteSpace(@Model.FileName))
                                        {
                                            <tr>
                                                <th scope="row" class="text-info" id="at1">Attach</th>
                                                <td class="align-middle  text-justify"><a href="/ViewApplications/DownLoadFile?FileName=@Model.FileName">@Model.FileName</a></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                                <h3>Status History</h3>
                                <table id="t1" class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th class="align-middle  text-center text-info" scope="col">Date</th>
                                            <th class="align-middle  text-center text-info" scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            foreach (LeaveApplication.Models.StatusHistory x in ViewBag.SH)
                                            {
                                                <tr>

                                                    <td class="align-middle  text-center">@x.Date</td>
                                                    <td class="align-middle  text-center">@x.Status</td>
                                                </tr>
                                            }
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end card-footer">
                        <button class="btn btn-info-grd" onclick="window.history.back()">Go back</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        
      
      
    </div>
