@{
    ViewBag.Title = "LeaveReason";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}
@model LeaveApplication.Models.Degrees

<div class="modal fade " id="d1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure to delete this item?</h3>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button data-dismiss="modal" class="btn btn-link">Cancel</button>

                    <button id="dl" type="submit" class="btn btn-info-grd">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for edit form-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UpdateDegree", "Admin", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group d-flex justify-content-center my-auto">

                        @Html.TextBoxFor(m => m.Degree, new { @class = "form-control", id = "edittxt", required = "required", value = "Change me....." })
                        @Html.ValidationMessageFor(m => m.Degree, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="id" name="DegreeID" class="btn btn-info-grd">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
@* ------------------------------------------ *@

<div id="div1" class="container" style="margin-top:5%">
    <div class="row  justify-content-center  vh-100">

        <div class="col-sm-6 col-md-6 col-lg-12  mb-3 ">
            <div class="card">
                <div class="card-header card-header-info">
                    <h5 class="card-title">Enter Leave Reasons</h5>
                </div>
                <div class=" card-body">
                    <div class="card">
                        @using (Html.BeginForm("AddDegree", "Admin", FormMethod.Post))
                        {<div class="form-group d-flex  justify-content-center ">

                                @Html.TextBoxFor(m => m.Degree, new { @class = "form-control", placeholder = "Degree", required = "required" })
                                @Html.ValidationMessageFor(m => m.Degree, "", new { @class = "text-danger" })
                                <input id="Submit1" class="btn btn-info-grd  ml-2" type="submit" value="Add Degree" />
                            </div>

                        }
                    </div>
                    <div class="table-responsive">
                        <table id="t1" class="table table-hover table-light  ">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Leave Reason</th>
                                    <th class="text-right" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    System.Data.DataSet ds = ViewBag.Degrees;
                                    foreach (System.Data.DataRow i in ds.Tables[0].Rows)
                                    {
                                        <tr class="text-center ">
                                            <td class="text-dark align-middle">@i[1]</td>

                                            <td class="align-middle">
                                                <div class="d-flex justify-content-end">
                                                    <div class="btn-group">
                                                        <button class="btn btn-info-grd" data-toggle="modal" data-target="#exampleModalCenter" onclick="ModelOnclick(this.parentNode.parentNode.parentNode.parentNode,@i[0].ToString())">Edit</button>
                                                        <button data-id="@i[0]" class="dl btn btn-info-grd" data-toggle="modal" data-target="#d1">Delete</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.dl').click(function () {
            var x = $(this).data("id");
            $('#dl').data("id", x);

        });
        $('#dl').click(function () {
            var id = $('#dl').data("id");
            window.location.href = "/Admin/DeleteDegree?DegreeID=" + id;
        })
    });
</script>