<div  class="container mt-lg-5 mt-5">
    <div class="row  justify-content-center  ">

        <div class="col-sm-6 col-lg-6 col-8 ">


            @using (Html.BeginForm("Submit", "ApplyForLeave", FormMethod.Post, new { id = "form1", onsubmit = "return OnSubmit()" }))
            {

                <div class="card ">
                    <div class="card-header card-header-info">
                        <div class="row">
                            @if (ViewBag.ViewID == 1)
                            {
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="IsHalfDay" class="custom-control-input" value="0">
                                        <label class="custom-control-label text-white" for="customRadio1">Full day</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="IsHalfDay" class="custom-control-input" value="1" checked>
                                        <label class="custom-control-label text-white" for="customRadio2">Half Day</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="IsHalfDay" class="custom-control-input" value="0" checked>
                                        <label class="custom-control-label text-white" for="customRadio1">Full day</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="IsHalfDay" class="custom-control-input" value="1" >
                                        <label class="custom-control-label text-white" for="customRadio2">Half Day</label>
                                    </div>
                                </div>
                            }
                        </div>


                    </div>
                    <div class=" card-body ">

                        <label style="font-size:22px" id="date" for="">Date Of Application: @System.DateTime.Now.Date.ToString("dd-MM-yyyy")</label>
                        <br><br>
                        <label class="label-control text-left"> Select Leave</label>
                        <div class="form-group d-flex justify-content-center ">

                            <select class="form-control" name="LeaveType" id="LeaveType" required>
                                <option selected disabled> Select Leave Type</option>
                                @{
                                    foreach (LeaveApplication.Models.LeaveTypes x in ViewBag.Leavetypes)
                                    {
                                        <option value="@x.LeaveTypeID">@x.LeaveType</option>
                                    }
                                }
                            </select>
                        </div>
                        @{if (ViewBag.ViewID == 0)
                            { <label for="date1" class="text-left" id="l2">From</label>
                                <div class="form-group d-flex justify-content-center">


                                    <input class="form-control datetimepicker" type="text" name="FromDate" id="FromDate" required onfocusout="DateSelect(this)">
                                </div>
                                <label for="date2" id="l3" class="text-left">To</label>
                                <div class="form-group d-flex justify-content-center">

                                    <input class="form-control datetimepicker" type="text" name="ToDate" id="ToDate" required onfocusout="DateSelect(this)">
                                </div>
                                <label for="days" class="text-left">Total Days</label>
                                <div class=" form-group d-flex justify-content-center">

                                    <input class="form-control" type="text" name="days" id="days" readonly>

                                </div>

                            }
                            else if (ViewBag.ViewID == 1)
                            {
                                <label class="label-control text-left" id="hf1">From date & time</label>
                                <div class="form-group d-flex justify-content-center">

                                    <input class="form-control datetimepicker1" type="text" id="halfday_from" name="halfday_from" required onfocusout="" />
                                </div>
                                <label class="label-control text-left" id="hf2">To time</label>
                                <div class="form-group d-flex justify-content-center">

                                    <input type="text" class="form-control datetimepicker2" id="halfday_to" name="halfday_to" required />
                                </div>
                                <label for="days" class="text-left">Total Days</label>
                                <div class=" form-group d-flex justify-content-center">

                                    <input class="form-control" type="text" name="days" id="days" value="0.5" readonly>

                                </div>


                            }
                        }



                        <label class="label-control text-left"> Select Reason</label>
                        <div class="form-group d-flex justify-content-center">
                            <select class="form-control" name="LeaveReason" id="LeaveReason">
                                <option selected disabled>Reason For Leave</option>
                                @{ System.Data.DataSet i = ViewBag.Reasons;
                                    foreach (System.Data.DataRow x in i.Tables[0].Rows)
                                    {
                                        <option value="@x[0].ToString()">@x[1].ToString()</option>
                                    }
                                }
                            </select>
                        </div>
                        <label class="label-control text-left"> Select Reason</label>
                        <div class="form-group d-flex justify-content-center">
                            <textarea class="form-control" style="resize:none" name="LeaveRemarks" id="LeaveRemarks" cols="30" rows="5" placeholder="Enter Description if any."></textarea>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center card-footer">

                        <input id="Submit1" class="btn btn-round btn-info-grd col-lg-10" type="submit" value="submit" />



                    </div>

                </div>

            }





        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
    
        
        $('#customRadio1').click(function () {
          
            GetView(0);
        });
        $('#customRadio2').click(function () {
           
            
            GetView(1);
        });

        $('.datetimepicker').datetimepicker({
            format: 'L',

            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',

            }

        });
        $('.datetimepicker1').datetimepicker({
            format: 'L LT',

            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',

            }

        });
        $('.datetimepicker2').datetimepicker({
            format: 'LT',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',

            }

        });
        function OnSubmit() {
            if ($('#LeaveType').val() == null || $('#halfday').val() == null || $('#FromDate').val() == null || $('#ToDate').val() == null || $('#LeaveReason').val() == null) {
                alert("Kindly Fill all the fields");
                return false;
            }
        }
        function GetView(ViewId) {
            $('#empdiv').html('');
            $.ajax({
                type: "post",
                url: "/ApplyForLeave/GetView?ViewId=" + ViewId,

                success: function (html) {
                   
                    $('#empdiv').html(html);
                    console.log(html);
                }


            })
        }
    });
    var Date1 = null;
    var Date2 = null;
    function DateSelect(date) {

        var LeaveDetails = { FromDate: "", ToDate: "" };

        if (date.name == "FromDate") {
            Date1 = date.value;
            LeaveDetails.FromDate = Date1;
            LeaveDetails.ToDate = Date2;

        }
        else {
            Date2 = date.value;
            LeaveDetails.FromDate = Date1;
            LeaveDetails.ToDate = Date2;
        }


        if ((Date1 != null && Date1 != "") && (Date2 != null && Date2 != "")) {

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = fun;
            function fun() {
                if (this.readyState == 4 && this.status == 200) {

                    var x = JSON.parse(this.responseText);

                    document.getElementById("days").value = x;

                }
            };
            xmlhttp.open("POST", "/ApplyForLeave/Calculateadays", true);
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(JSON.stringify(LeaveDetails));
        }


    }

</script>
