
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LMS</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
        .font {
            font-family: 'Source Sans Pro';
        }
    </style>

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand font" href="#">Leave Applcation Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link font" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Register Employee", "Registeration", "RegisterEmployee", null, new { @class = "nav-link font" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Manage Leave Types", "LeaveType", "Admin", null, new { @class = "nav-link font" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Manage Designation", "Designation", "Admin", null, new { @class = "nav-link font" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Manage Department", "Department", "Admin", null, new { @class = "nav-link font" })
                </li>
               
                <li class="nav-item">
                    @Html.ActionLink("Log In", "Index", "Login", null, new { @class = "nav-link font" })
                </li>
            </ul>
            @*<form class="form-inline my-2 my-lg-0">

                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/CustomJS.js"></script>
</body>
</html>
